.nav-tab {
    display: flex;
    margin-top: 151px;
}

.nav-tab__links {
    scroll-behavior: smooth;
    display: flex;
}

.nav-tab__button {
    width: 96px;
    height: 36px;
    border-radius: 10px;
    background: #E8E8E8;
    border: none;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 0 0;
}

.nav-tab__link {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
    color: #000;
}

@media screen and (max-width: 950px) {
    .nav-tab {
        display: flex;
        margin-top: 315px;
    }
}

@media screen and (max-width: 560px) {
    .nav-tab {
        margin-top: 212px;
    }
}

@media screen and (max-width: 450px) {
    .nav-tab__button {
        width: 82px;
        height: 26px;
        border-radius: 6px;
        font-size: 10px;
        margin-right: 6px;
    }
}